body {
  padding: 1em;
  display: flex;
  align-items: center;
  gap: 10px;
  flex-direction: column;
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  background-color: grey;
}


/*

  BUTTON SPLITED

*/


.btn-splited {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  color: yellow;
  letter-spacing: 3px;
  padding: 25px 50px;
  border: 3px solid yellow;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}

.btn-splited::before,
.btn-splited::after,
.btn-splited > span::before,
.btn-splited > span::after  {
  content: "";
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: yellow;
  z-index: -1;
  transition: all 0.5s;
 
}

.btn-splited::before {
  top: 0;
  left: -25%;
}

.btn-splited:hover::before {
  top: 0;
  left: 0;
}

.btn-splited::after {
  top: -100%;
  left: 25%;
}

a:hover::after {
  top: 0;
  left: 25;
}

.btn-splited > span::before {
  top: 100%;
  right: 25%;
}

.btn-splited:hover > span::before {
  top: 0;
  right: 25%;
}

.btn-splited > span::after {
  top: 0;
  right: -25%;
} 

.btn-splited:hover > span::after {
  top: 0;
  right: 0;
}

.btn-splited:hover {
  color: grey;
}

/*

  BUTTON WRAP

*/

.btn-wrap {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 25px;
  letter-spacing: 3px;
  height: 65px;
  width: 200px;
  line-height: 60px;
  text-align: center;
  color: blue;
  position: relative;
}

.btn-wrap::before {
  content: "";
  position: absolute;
  height: 90px;
  width: 100%;
  top: -15px;
  left: 0;
  border-left:  2px solid red;
  border-right: solid yellow;
  transition: all 1s;
}

.btn-wrap::after {
  content: "";
  position: absolute;
  height: 62px;
  width: 230px;
  top: 0;
  left: -15px;
  border-top:  2px solid red;
  border-bottom: solid yellow;
  transition: all 1s;
  transition-delay: 0.2s;
}

.btn-wrap:hover::before {
  transform: rotateY(180deg);
}

.btn-wrap:hover::after {
  transform: rotateX(180deg);
}

/*

  BUTTON GROWING

*/

.btn-growing {
  border: none;
  padding: 12px 40px;
  background-color: orange;
  color: white;
  font-size: 22px;
  text-transform: uppercase;
  cursor: pointer;
  position: relative;
}

.btn-growing::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  top: -5px;
  left: -5px;
  border-top: 2px solid orange;
  border-left: 2px solid orange;
  transition: all 0.25s;
}

.btn-growing:hover::before {
  height: 100%;
  width: 100%;
}

.btn-growing::after {
  content: "";
  position: absolute;
  width: 24px;
  height: 24px;
  bottom: -5px;
  right: -5px;
  border-bottom: 2px solid orange;
  border-right: 2px solid orange;
  transition: all 0.25s;
}

.btn-growing:hover::after {
  height: 100%;
  width: 100%;
}